<h1>Welcome to you CD organizer. Congratulations on being over 40!</h1>
<h3><a href ="/artist">View Artists</a></h3>
<h3><a href ="/AddArtist">Add an Artist</a></h3>
<h3><a href ="/AddCD">Add a CD</a></h3>
